html(lang='en')
	head
		title Verbinden
		link(rel='stylesheet', href='/styles/style.css', type='text/css')
		link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
	body
		header.nav(role='banner')
			ul.headerUl
				li
					a(href='/') Home
				li
					a(href='/profile') My Profile
				li
					a(href='/searchothers') Others